# Functions

In [1]:
import os, sys, json

Now we are good to get started with functions

In [2]:
def process(file_path):
    if os.path.exists(file_path):
        rp = open(file_path, 'r')
        for line in rp:
            print(line)
        rp.close()

In [3]:
process('Misc/USA_Arrests.txt')

"","Murder","Assault","UrbanPop","Rape"



"Alabama",13.2,236,58,21.2



"Alaska",10,263,48,44.5



"Arizona",8.1,294,80,31



"Arkansas",8.8,190,50,19.5

In [6]:
def add(n1, n2):
#     if n1 > n2:
#         return n1+n2
#     else:
#         return n2-n1
    return n1+n2 if n1 > n2 else n2-n1

# add(10, 30)
n1 = input('Enter first number : ')
n2 = input('Enter second number : ')
n1 = int(n1)
n2 = int(n2)
add(n1, n2)

Enter first number : 10
Enter second number : 3

13

In [8]:
def new(a,b):
    return

def third():
    print('Hello world!')
    
new(1,2), third()

Hello world!

(None, None)

# Function Arguments

#### This is fourth level heading

In [11]:
X = 30

def add(a, b):
    global X
    X = X + 1
    c = a + b
    #if c > 10:
    #    print(c)
    return c

print(add(10,20))
print(X)
# print(c)

30
31

In [17]:
add(3, 4)

7

In [18]:
add('python', 'anaconda')

'pythonanaconda'

In [19]:
add('anaconda', 'python')

'anacondapython'

# Built-In Functions

In [12]:
dir()

['In',
 'Out',
 'X',
 '_',
 '_4',
 '_5',
 '_6',
 '_8',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_i10',
 '_i11',
 '_i12',
 '_i2',
 '_i3',
 '_i4',
 '_i5',
 '_i6',
 '_i7',
 '_i8',
 '_i9',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'add',
 'exit',
 'get_ipython',
 'json',
 'n1',
 'n2',
 'new',
 'os',
 'process',
 'quit',
 'sys',
 'third']

In [13]:
abs(-10)

10

In [14]:
sum([20, 30])

50

In [15]:
sum([20,30,40])

90

In [16]:
chr(65)

'A'

In [25]:
chr(97)

'a'

In [17]:
int(12.36)

12

In [18]:
marks = [45, 54, 99, 81, 12, -3]
any(marks)

True

In [19]:
marks.append(0)
all(marks)

False

In [20]:
marks.remove(0)
all(marks)

True

In [21]:
list(reversed([10, 40, 30]))

[30, 40, 10]

In [22]:
sorted(marks, reverse=True)

[99, 81, 54, 45, 12, -3]

In [23]:
names = ['Python', 'Steve', 'Jobs']
all(names)

True

In [24]:
for x in reversed([10, 40, 30]):
    print(x)

30
40
10

In [33]:
for index, val in enumerate([10, 20, 30]):
    print(index,val)

0 10
1 20
2 30

In [25]:
bin(2)

'0b10'

In [26]:
oct(40)

'0o50'

In [27]:
hex(4)

'0x4'

In [37]:
int(hex(4))

ValueError: invalid literal for int() with base 10: '0x4'

In [38]:
v = 0x4
print(v)

4

In [39]:
oc = 0o77
oc

63

# Lambda, map, filter and reduce

In [28]:
def sq_func(x):
    return x**2 if x > 10 else x**3

In [29]:
sq_func(10)

1000

In [30]:
sq_func(11)

121

In [31]:
sq_func(-1)

-1

In [32]:
sq = lambda x : x**2 if x > 10 else x**3 # def add(x, y)
sq(11)

121

In [33]:
sq(10)

1000

In [34]:
marks

[45, 54, 99, 81, 12, -3]

In [35]:
def categorize_marks(mark):
    if mark > 70:
        return 'Perfect'
    else:
        return 'Needs Improvement'
    
for mark in marks:
    print(categorize_marks(mark))

Needs Improvement
Needs Improvement
Perfect
Perfect
Needs Improvement
Needs Improvement

In [41]:
list(map(categorize_marks, marks))

['Needs Improvement',
 'Needs Improvement',
 'Perfect',
 'Perfect',
 'Needs Improvement',
 'Needs Improvement']

In [38]:
list(map(lambda mark: 'Perfect' if mark >= 70 else 'Needs Improvement', marks)) # concise way of transforming values

['Needs Improvement',
 'Needs Improvement',
 'Perfect',
 'Perfect',
 'Needs Improvement',
 'Needs Improvement']

In [37]:
list(filter(lambda x: (x >= 50 and x <= 75) or (x < 10 or x > 80), marks)) # concise way of filtering values

[54, 99, 81, -3]

In [39]:
high_marks = []
for x in marks:
    if (x >= 50 and x <= 75) or (x < 10 or x > 80):
        high_marks.append(x)
print(high_marks)

[54, 99, 81, -3]

In [40]:
for x in filter(lambda x: x >= 50, marks):
    print(x)

54
99
81

In [50]:
def is_gt_50(mark):
    return mark>=50

list(filter(is_gt_50, marks))

[54, 99, 81]

In [42]:
from functools import reduce
reduce((lambda x, y: x+y), range(1,6))

15

In [52]:
# 1,2,3,4,5 = (((1*2)*3)*4)*5 => 1*2 (x) 3(y) = x* y = (1*2*3) saved to x (1 * 2 * 3) y (4)

In [53]:
def f1():
    for x in marks:
        yield x

# print(list(f1()))
# x = f1()
# for y in f1():
#     print(y)
x = f1()
# x.close

In [48]:
# Generator
def elements(int_input):
    for x in range(1, int_input+1):
        return x
    print('Hello')
    
def gen(x):
    for x in range(x):
        yield x
        
gen_obj = gen(100000000000)
print(next(gen_obj), next(gen_obj))
        
print(elements(5))
# list(elements(5))
# range(1, 11)
# for value in elements(5):
#     print(value)

0 1
1

# Function arguments - positional, keywords, arbitrary length

In [78]:
def fun(a,b,c=90,*p, **kwargs):
    print(a, b, c)
    print(p)
    print(kwargs)
    print(sum([a,b,c,*p,*kwargs.values()]))

In [77]:
fun(10, 20, 40, 5, 6 ,7, 8, 9, 10, q=100, r=120)

10 20 40
(5, 6, 7, 8, 9, 10)
{'q': 100, 'r': 120}
335

In [55]:
# non-default arguments - specify value for every argument
# default arguments - default to value specified

# positional notation - passing and defining arguments
# keyword notation - passing and defining arguments

def fun(a,b,c,d=60,*p,**kwargs):
    print(a,b,c)
    #print(p)
    #print(d,e,f)
    #print(kwargs)
    
# fun(10, 20, 30) # positional
# fun(a=10,c=20,b=45) # keyword notation
fun(a=10, c=30, b=20, d=40, e=50)
# fun(10, 20)

10 20 30
()
{'e': 50}

In [56]:
def pass_the_world(*c):
    print(type(c), c)
    
pass_the_world()
pass_the_world(10,20,30,40,*list(range(10)))

<class 'tuple'> ()
<class 'tuple'> (10, 20, 30, 40, 0, 1, 2, 3, 4, 5, 6, 7, 8, 9)

In [57]:
# non-default arguments
# default arguments
# positional notation - passing and defining arguments
# keyword notation - passing and defining arguments

def format_name(fname, lname, mname=None, reverse=False):
    print(type(fname), type(lname), type(reverse))
    if reverse:
        return lname + ' ' + fname
    else:
        return fname + ' ' + lname

# print(format_name('Python', 'Spark'))

# oracle : username, password, tnsname
# mysql: username, password, host, port, ssl-key, ssl-ca, ssl-cert
def connect(db_type, **kwargs):
    oracle_template = 'jdbc:client:://{username}:{password}/{tnsname}/{host}/{port}'
    if db_type == 'Oracle':
        cxn_str = oracle_template.format(**kwargs) # 'jdbc:client:://{username}:{password}/{tnsname}
        print(cxn_str)
    elif db_type =="mysql":
        cxn_str = oracle_template.format(**kwargs) # 'jdbc:mysql://hist:port/username/password/sslc/sslk'
        print(cxn_str)
    
def add_marks(standard, names=None, **marks):
    return sum(marks)

def master(ndf1, ndf2, df1=2, df2=3, d=3, *args, **kwargs):
    print(ndf1, ndf2, df1, df2)
    print(type(args))
    print(type(kwargs))
    print(args)
    print(kwargs)
    
master(10, 20, df1=30, k=10, v=20, d=30, p=50)
#rint(add_marks('Xth', marks=[10, 20, 30, 40, 90, 100, 45, 54]))
# connect('mysql', username='Python', password='Anaconda', tnsname='Disaster', host='cloudserver', port='3306')

10 20 30 3
<class 'tuple'>
<class 'dict'>
()
{'k': 10, 'v': 20, 'p': 50}

In [58]:
def flexi(*args):
    print(type(args))
    print(args)
    
# flexi()
flexi(10,20,30)
# flexi(10)

<class 'tuple'>
(10, 20, 30)

In [59]:
def afun(a,b,c=100,*args):
    print(a,b,c)
    print(args)
    print(a+b+c+sum(args))
    print('------')
# afun(10,20)
# afun(10,20,30)
afun(10,20,30,40,50,63,75,81,0,12)

10 20 30
(40, 50, 63, 75, 81, 0, 12)
381
------

In [60]:
def afun(a,b,c=45,*args,**kwargs):
    print(a,b,c)
    print(args)
    print(kwargs)
    print('------')
# afun(10,20)
# afun(10,20,30)
# afun(10,20,30,40,50,63,75,81,0,12)
afun(10,20,30,40,50,63,75,81,0,12,d=40,e=50,f=60)

10 20 30
(40, 50, 63, 75, 81, 0, 12)
{'d': 40, 'e': 50, 'f': 60}
------