In [3]:
# single line comment

In [4]:
'''
    This is a multiline comment.
    It can have several lines.
    First line...
    Second...
'''

'\n    This is a multiline comment.\n    It can have several lines.\n    First line...\n    Second...\n'

In [5]:
"""
    This is a multiline comment.
    "It can have several lines."
    First line...
    'Second...'
"""

'\n    This is a multiline comment.\n    "It can have several lines."\n    First line...\n    \'Second...\'\n'

In [1]:
print('Hello World!')

Hello World!

In [2]:
print('Hello All', 'How are you?', 'Hope you are enjoying the session?')

Hello All How are you? Hope you are enjoying the session?

In [ ]:
# this is sin

In [2]:
print("Hello World!")

Hello World!

In [3]:
print("'Hello World!'")

'Hello World!'

In [4]:
print('"Hello World!"')

"Hello World!"

In [5]:
print('''"Hello 'infinite' World!"''')

"Hello 'infinite' World!"

In [1]:
'''"Hello 'infinite' World!"'''

'"Hello \'infinite\' World!"'

In [3]:
s1 = '''"Hello 'infinite' World!"'''
print(s1)
print(type(s1))

"Hello 'infinite' World!"
<class 'str'>

# Identifiers

In [2]:
# #, $, %, ^

age = 20
fname = 'Guido'
lname = 'Rossum'
AGE = 24
NAME = 'Python'
dec = 24.42

In [6]:
id(fname)

140397258314896

In [7]:
new_fname = fname

In [8]:
id(new_fname)

140397258314896

In [12]:
age, AGE

(20, 24)

In [19]:
dec = 'something else'
type(dec)

str

In [8]:
_0age = 10
_0age

10

In [7]:
NAME

'Python'

In [8]:
AGE

24

In [9]:
age

20

In [27]:
_age = 20 # protected/private
__AGE = 24 # strongly private

In [5]:
_age

20

In [6]:
__AGE

24

In [7]:
0_var = 30

SyntaxError: invalid token (<ipython-input-7-858d1176420b>, line 1)

In [20]:
_ = 'underscore'

In [21]:
_

'underscore'

In [22]:
var$ = 'more dollars'

SyntaxError: invalid syntax (<ipython-input-22-5f138f471a63>, line 1)

In [23]:
age = 20
fname = 'Guido'
lname = 'Rossum'
AGE = 24
NAME = 'Python'

In [24]:
id(age)

94631310974784

In [25]:
id(AGE)

94631310974912

In [28]:
id(_age)

94631310974784

In [29]:
id(_)

140039632054512

In [1]:
dir()

['In',
 'Out',
 '_',
 '__',
 '___',
 '__builtin__',
 '__builtins__',
 '__doc__',
 '__loader__',
 '__name__',
 '__package__',
 '__spec__',
 '_dh',
 '_i',
 '_i1',
 '_ih',
 '_ii',
 '_iii',
 '_oh',
 'exit',
 'get_ipython',
 'quit']

In [23]:
id(20)

94408671121216

# Numbers

In [9]:
age = 20
age

20

In [10]:
type(age)

int

In [11]:
salary = 15000.24

In [12]:
type(salary)

float

In [13]:
f = 24.5
c = 10 + 3j

In [2]:
type(f)

float

In [14]:
type(c)

complex

In [4]:
id(f)

140310343934048

In [5]:
f = 30
id(f)

94780933533824

In [15]:
oct(10) # 2 * 8^0 + 1 * 8^1

'0o12'

In [20]:
d = 0o12

In [21]:
d

10

In [22]:
hex(10)

'0xa'

In [25]:
h = 0xb
h

11

In [32]:
id(age)

140313510869680

In [33]:
id('twenty')

140313510869680

In [34]:
f = 12.63
type(f)

float

In [35]:
f

12.63

#### <font color="red">New Title</font>

# String Operations

In [14]:
# ASCII - 65-90 for A-Z, 97-122 for a-z

s1 = "Our first Python string!"
s2 = u'Our first unicode string!'
s3 = '''String with "double quotes" and 'single quotes' '''
print(s1)
print(s2)
print(s3)
print(type(s1))
print(type(s2))
print(type(s3))

Our first Python string!
Our first unicode string!
String with "double quotes" and 'single quotes'
<class 'str'>
<class 'str'>
<class 'str'>

In [28]:
type(s1)

str

In [29]:
type(s2)

str

## Indexing/Slicing

In [31]:
len(s1), max(s1), min(s1)

(24, 'y', ' ')

In [33]:
print(s1)

Our first Python string!

In [36]:
s1[0]

'O'

In [37]:
s1[23]

'!'

In [4]:
s1[24]

IndexError: string index out of range

In [39]:
s1[-1] # total len + (-val) : 24 + (-1) = 23

'!'

In [49]:
# 'Our first Python string!'

s1[:20:2] # [start:stop:step] > start from 0 and go until 24(actually 23)

'OrfrtPto t'

In [54]:
s1[:20:2] # [start is unspecified(default to 0): stop: step]

'OrfrtPto t'

In [53]:
s1[0:]

'Our first Python string!'

In [54]:
s1[:]

'Our first Python string!'

In [55]:
s1

'Our first Python string!'

In [58]:
list(range(5))

[0, 1, 2, 3, 4]

In [18]:
list(range(1, 11, 2)) # start, stop, step (default value os step is 1)

[1, 3, 5, 7, 9]

In [55]:
list(range(1, 101, 2))

[1,
 3,
 5,
 7,
 9,
 11,
 13,
 15,
 17,
 19,
 21,
 23,
 25,
 27,
 29,
 31,
 33,
 35,
 37,
 39,
 41,
 43,
 45,
 47,
 49,
 51,
 53,
 55,
 57,
 59,
 61,
 63,
 65,
 67,
 69,
 71,
 73,
 75,
 77,
 79,
 81,
 83,
 85,
 87,
 89,
 91,
 93,
 95,
 97,
 99]

In [60]:
s1[23:10:-1]

'!gnirts nohty'

In [61]:
s1[::-1]

'!gnirts nohtyP tsrif ruO'

In [64]:
s4 = 'madams'
s4 == s4[::-1]

False

In [59]:
def is_palindrome(val):
    return val == val[::-1] # madam, malayalam, admin

In [60]:
is_palindrome('madam')

True

In [61]:
is_palindrome('Python')

False

In [32]:
s2 = s1 + s2

In [34]:
s2 = s2[24:]
s2

'Our first unicode string!'

In [35]:
print((s1 + '\n') * 10)

Our first Python string!
Our first Python string!
Our first Python string!
Our first Python string!
Our first Python string!
Our first Python string!
Our first Python string!
Our first Python string!
Our first Python string!
Our first Python string!

## Membership check

In [65]:
'Python' in s1

True

In [66]:
'python' in s1

False

In [67]:
'python' in s1.lower()

True

In [68]:
'$' not in s1

True

In [69]:
'!' not in s1

False

## String formatting

In [3]:
mail_temp = 'Dear %s, \nHope you are doing well and enjoying our cloud based data analysis service. And %s, would you like to try our DS service as well?\nRegards,\nChief Marketing Officer\nSteve Jobs'

In [6]:
actual_mail = mail_temp % ('Alex', 'Alex')
print(actual_mail)

Dear Alex,
Hope you are doing well and enjoying our cloud based data analysis service. And Alex, would you like to try our DS service as well?
Regards,
Chief Marketing Officer
Steve Jobs

In [7]:
mail_temp = 'Dear {0}, \n\nHope you are doing well and {0} enjoying our cloud based data analysis service. And {1}, would you like to try our DS service as well? Kill {1}.\n\nRegards,\nChief Marketing Officer\nSteve Jobs\n'

In [10]:
actual_mail = mail_temp.format('Alex', 'Bill')
print(actual_mail)

Dear Alex,

Hope you are doing well and Alex enjoying our cloud based data analysis service. And Bill, would you like to try our DS service as well? Kill Bill.

Regards,
Chief Marketing Officer
Steve Jobs

## String functions

In [70]:
s1.lower()

'our first python string!'

In [71]:
s1.upper()

'OUR FIRST PYTHON STRING!'

In [72]:
s1.title()

'Our First Python String!'

In [73]:
s1.capitalize()

'Our first python string!'

In [74]:
s1.count('t')

3

In [77]:
s1.count('T')

0

In [78]:
s1.index('t')

8

In [79]:
s1.index('t', 10)

12

In [80]:
s1.encode('utf-8', 'strict')

b'Our first Python string!'

In [81]:
enc = s1.encode('utf-8', 'strict')
type(enc)

bytes

In [83]:
import base64 as b64

In [84]:
enc = b64.b64encode(s1.encode())
enc

b'T3VyIGZpcnN0IFB5dGhvbiBzdHJpbmch'

In [85]:
b64.b64decode(enc).decode('utf-8', 'ignore')

'Our first Python string!'

In [111]:
max(s1)

'y'

In [112]:
min(s1)

' '

In [86]:
s1.find('Python')

10

In [87]:
s1.index('Python')

10

In [88]:
s1.find('python')

-1

In [89]:
s1.index('python')

ValueError: substring not found

In [90]:
s1.replace('Python', 'PySpark')

'Our first PySpark string!'

In [92]:
s1

'Our first Python string!'

In [16]:
s2 = 'Python'

In [17]:
s2 * 3 # s2 + s2 + s2

'PythonPythonPython'

In [18]:
s1

'Our first Python string!'

In [20]:
s1[::2] + s2

'OrfrtPto tigPython'

# Tuples

In [21]:
t1 = tuple()

In [22]:
type(t1)

tuple

In [23]:
t2 = tuple([2,3,4])

In [24]:
t2

(2, 3, 4)

In [25]:
t2.count(2)

1

In [28]:
t2.index(3)

1

In [29]:
t3 = tuple([3,2,4])

In [30]:
def cmp(a, b):
    return (a > b) - (a < b)

In [31]:
cmp(t2,t3)

-1

In [32]:
cmp(t2,t3)

-1

In [80]:
t4 = tuple([2,3,5])

In [82]:
cmp(t2,t4)

-1

In [33]:
t2[0:3:2]

(2, 4)

In [37]:
len(t2), max(t2), min(t2)

(3, 4, 2)

# Lists

In [34]:
l1 = list()
l2 = []

In [35]:
l1 = [10,20,30]

In [38]:
len(l1), max(l1), min(l1)

(3, 30, 10)

In [93]:
l1[0]

10

In [94]:
l1[-1]

30

In [39]:
l1[::-1]

[30, 20, 10]

In [62]:
l2 = [10, 24.5, 'Python']

In [42]:
l2, tuple(l2)

([10, 24.5, 'Python'], (10, 24.5, 'Python'))

In [98]:
len(l2)

3

In [43]:
len(l2[2])

6

In [44]:
sorted(t3)

[2, 3, 4]

In [45]:
sorted(l2)

TypeError: '<' not supported between instances of 'str' and 'float'

In [51]:
l2.append('Spark')
l2

[10, 24.5, 'Hadoop', 'Spark']

In [47]:
l2.insert(2, 'Hadoop')
l2

[10, 24.5, 'Hadoop', 'Python', 'Spark']

In [53]:
l2.pop(1)

24.5

In [54]:
l2

[10, 'Hadoop', 'Spark']

In [58]:
print(3 in t3)
30 in l2

True

False

In [59]:
l2.remove('Hadoop')
l2

[10, 'Spark']

In [113]:
l2.pop(1)

24.5

In [64]:
l2

[10, 24.5, 'Python']

In [61]:
del l2[0]
l2

NameError: name 'l2' is not defined

In [63]:
l3 = [30, 40, 'Spark', 'Flume']
l3

[30, 40, 'Spark', 'Flume']

In [65]:
l2 + l3

[10, 24.5, 'Python', 30, 40, 'Spark', 'Flume']

In [118]:
print(l2, l3)

['Python'] [30, 40, 'Spark', 'Flume']

In [66]:
l2.extend(l3)
l2

[10, 24.5, 'Python', 30, 40, 'Spark', 'Flume']

In [67]:
l2.append('Hadoop')
l2

[10, 24.5, 'Python', 30, 40, 'Spark', 'Flume', 'Hadoop']

In [68]:
l2.append(l3)

In [69]:
l2

[10,
 24.5,
 'Python',
 30,
 40,
 'Spark',
 'Flume',
 'Hadoop',
 [30, 40, 'Spark', 'Flume']]

In [70]:
len(l2)

9

In [72]:
l2[8][0:2]

[30, 40]

In [73]:
tl = tuple([[],[],[]])
tl

([], [], [])

In [74]:
tl[0].extend(l3)
tl[1].extend(l2[0:5])
tl

([30, 40, 'Spark', 'Flume'], [10, 24.5, 'Python', 30, 40], [])

In [75]:
l3 * 3

[30, 40, 'Spark', 'Flume', 30, 40, 'Spark', 'Flume', 30, 40, 'Spark', 'Flume']

In [78]:
l2 = l2[0:5]
l2, l3

([10, 24.5, 'Python', 30, 40], [30, 40, 'Spark', 'Flume'])

In [81]:
print(id(l2))
print(id(l2 + l3))

140665831719176
140665840497032

In [82]:
l2.extend(l3)
print(id(l2))
l2

140665831719176

[10, 24.5, 'Python', 30, 40, 30, 40, 'Spark', 'Flume']

In [83]:
l2 = l2 + l3
print(id(l2))

140665831683464

## Dictionaries

In [84]:
d1 = {}
d2 = dict()
d3 = {1:'one', '2':'two', 3.65:'three', '4':[], '6':{}}

In [85]:
d3

{1: 'one', '2': 'two', 3.65: 'three', '4': [], '6': {}}

In [86]:
d3.keys()

dict_keys([1, '2', 3.65, '4', '6'])

In [87]:
d3.values()

dict_values(['one', 'two', 'three', [], {}])

In [93]:
d3['2']

'two'

In [92]:
d3.get('20', 'Empty/Missing')

'Empty/Missing'

In [94]:
d3['new_key'] = 'fourth'
d3

{1: 'one', '2': 'two', 3.65: 'three', '4': [], '6': {}, 'new_key': 'fourth'}

In [95]:
d3['2'] = 2
d3

{1: 'one', '2': 2, 3.65: 'three', '4': [], '6': {}, 'new_key': 'fourth'}

In [96]:
d3.items()

dict_items([(1, 'one'), ('2', 2), (3.65, 'three'), ('4', []), ('6', {}), ('new_key', 'fourth')])

In [97]:
for k,v in d3.items():
    print(k,v)

1 one
2 2
3.65 three
4 []
6 {}
new_key fourth

In [99]:
d3.pop('new_key')

'fourth'

In [100]:
d3

{1: 'one', '2': 2, 3.65: 'three', '4': [], '6': {}}

In [101]:
del d3[3.65]

In [102]:
d3

{1: 'one', '2': 2, '4': [], '6': {}}

In [103]:
len(d3)

4

In [104]:
type(d3)

dict

In [48]:
d3['3']

KeyError: '3'

In [49]:
d3.get('2', None)

2

In [106]:
d3.setdefault(1, 4) # 11, 4

4

In [112]:
d3

{'1': 1, '2': 2, '4': [], '6': {}}

In [52]:
d3.setdefault('40', 4)
d3

{1: 'one', '2': 2, '4': [], '6': {}, '40': 4}

In [109]:
del d3[1]
d3['1'] = 1

In [110]:
del d3[11]
sorted(d3)

['1', '2', '4', '6']

In [113]:
d3['2'] = 2
(d3.values())

dict_values([2, [], {}, 1])

In [56]:
d3.items()
dict(sorted(d3.items(), key=(lambda pair: pair[1]))

SyntaxError: unexpected EOF while parsing (<ipython-input-56-fc50bca9f795>, line 2)

## Sets

In [114]:
l1 = [98, 78, 99, 20, 30, 75, 63, 78, 81, 87, 93, 99, 78, 20, 75]
len(l1)

15

In [6]:
l2 = []
for mark in l1:
    if mark not in l2:
        l2.append(mark)
    else:
        pass # TODO: fill in future
l2

[98, 78, 99, 20, 30, 75, 63, 81, 87, 93]

In [36]:
len(l2)

10

In [115]:
s1 = set(l1)

In [116]:
len(s1)

10

In [118]:
s1, type(s1)

({20, 30, 63, 75, 78, 81, 87, 93, 98, 99}, set)

In [119]:
s2 = {36, 75, 63, 81, 99, 45, 39, 54, 45, 54}
s2

{36, 39, 45, 54, 63, 75, 81, 99}

In [120]:
s2 & s1

{63, 75, 81, 99}

In [164]:
s2.intersection(s1)

{63, 75, 81, 99}

In [122]:
maths = s1
bio = s2

In [123]:
maths.difference(bio)

{20, 30, 78, 87, 93, 98}

In [124]:
maths - bio

{20, 30, 78, 87, 93, 98}

In [125]:
maths.union(bio)

{20, 30, 36, 39, 45, 54, 63, 75, 78, 81, 87, 93, 98, 99}

In [49]:
maths | bio

{20, 30, 36, 39, 45, 54, 63, 75, 78, 81, 87, 93, 98, 99}

In [126]:
maths.issubset(bio)

False

In [127]:
bio.issuperset(maths)

False

In [128]:
bio.symmetric_difference(maths)

{20, 30, 36, 39, 45, 54, 78, 87, 93, 98}

In [54]:
bio

{36, 39, 45, 54, 63, 75, 81, 99}

In [129]:
bio.add(84)

In [130]:
bio

{36, 39, 45, 54, 63, 75, 81, 84, 99}

In [131]:
bio.discard(94)

In [132]:
bio.pop()

99

In [133]:
bio.pop()

36

In [134]:
bio[2]

TypeError: 'set' object does not support indexing

In [136]:
bio.clear()
bio

set()

In [62]:
cd = {1:bio, 2:maths, 3: d3}
cd

{1: {39, 45, 54, 63, 75, 81, 84},
 2: {20, 30, 63, 75, 78, 81, 87, 93, 98, 99},
 3: {'1': 1, '2': 2, '4': 4}}

In [64]:
cd[1], cd[3]['2']

({39, 45, 54, 63, 75, 81, 84}, 2)

In [65]:
cd.clear()

In [66]:
cd

{}

In [176]:
s2.clear()

In [68]:
l1

[98, 78, 99, 20, 30, 75, 63, 78, 81, 87, 93, 99, 78, 20, 75]

In [69]:
l1.index(30)

4